[submodule "extlib/hopscotch-map"]
	path = extlib/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
[submodule "extlib/robin-map"]
	path = extlib/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "extlib/range-v3"]
	path = extlib/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx.git
[submodule "extlib/networkit"]
	path = extlib/networkit
	url = https://github.com/networkit/networkit.git
