[submodule "extlib/hopscotch-map"]
	path = extlib/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
[submodule "extlib/robin-map"]
	path = extlib/robin-map
	url = https://github.com/Tessil/robin-map.git
